doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Sejarah Telepon Genggam

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Sejarah Telepon Genggam
        h2 
      section
        h2.bullet Nama Kelompok
        ul
          li Wanry Lumban Batu
          li Salomo FH Simanjuntak
          li Togiara Limbong
          li William Pratama Nainggolan
      section
        h2 Sejarah
        h3 Penemu sistem telepon genggam yang pertama adalah Martin Cooper, seorang karyawan Motorola pada tanggal 03 April 1973, walaupun banyak disebut-sebut penemu telepon genggam adalah sebuah tim dari salah satu divisi Motorola dengan model pertama adalah DynaTAC. Ide yang dicetuskan oleh Cooper adalah sebuah alat komunikasi yang kecil dan mudah dibawa bepergian secara fleksibel.

      section
        h2 Fungsi dan Fitur
        h3 Selain untuk melakukan dan menerima panggilan telepon:
        h3.bullet
        ul
          li Mengirim dan menerima Pesan Singkat.
          li Video Call
          li Sebagai alat pembayaran
          li Televisi Online
          li Pemutar audio, dan video, kamera digital, game, dan layanan internet
          li Membantu menyelesaikan sebuah pekerjaan Manusia

      section
        h2 Jenis Ponsel Berdasarkan Fungsi
        hr
        ul
        h4 Ponsel bisnis
        hr
        h3 Ponsel jenis ini ditujukan untuk anda yang menginginkan perangkat bisnis dalam genggaman anda, biasanya ponsel yang telah memiliki kemampuan ini tergolong ponsel pintar (smartphone). Beragai aplikasi bisnis terdapat dalam ponsel ini dan dapat membuat pekerjaan kantor anda dapat dilihat dan dikerjakan dalam sebuah ponsel.
        
      section
        h4 Ponsel Hiburan
        hr
        h3 Ponsel jenis ini merupakan ponsel berjenis multimedia, dimana semua aktivitas yang berhubungan dengan musik, seni, foto, sosial dan lainnya dapat anda atasi dengan sebuah ponsel. Banyak Ponsel jenis ini yang memiliki variannya tersendiri, seperti ponsel musik, ponsel kamera, dan ponsel jejaring sosial.
        
      section
        h4 Ponsel Fashion
        hr
        h3 Ponsel jenis ini lebih fokus pada pada tampilannya, dan dapat membuat pemiliknya menjadi sangat bangga meskipun dengan fitur yang terkesan sederhana. Tetapi dibalik itu semua, sebuah ponsel fashion ini lebih mahal dibanding harga ponsel canggih lainnya. Dewasa ini dapat ditemukan ponsel yang berharga lebih mahal dari harga sebuah kendaraan, bahkan lebih mahal dari harga sebuah rumah
      section
        ul 
        h4 Ponsel Standar
        hr
        h3 Ponsel jenis ini diperuntukan untuk anda yang menginginkan ponsel yang sederhana / simpel, fitur yang disematkan pada ponsel ini merupakan fitur inti yakni tanpa teknologi terbaru. 
        

      section
        h2 Perkembangan
        h4 Generasi 0
        hr
        h3 Sejarah penemuan telepon seluler tidak lepas dari perkembangan radio. Awal penemuan telepon seluler dimulai pada tahun 1921 ketika Departemen Kepolisian Detroit Michigan mencoba menggunakan telepon mobil satu arah. Kemudian, pada tahun 1928 Kepolisian Detroit mulai menggunakan radio komunikasi satu arah regular pada semua mobil patroli dengan frekuensi 2 MHz. pada perkembangan selanjutnya, radio komunikasi berkembang menjadi dua arah dengan ‘’frequency modulated ‘’(FM).
      section
        h4 Generasi I
        hr
        h3 Telepon genggam generasi pertama disebut 1G. 1-G merupakan telepon genggam pertama yang sebenarnya. Tahun 1973, Martin Cooper dari Motorola Corp menemukan telepon seluler pertama dan diperkenalkan kepada public pada 3 April 1973. Telepon seluler yang ditemukan oleh Cooper memiliki berat 30 ons atau sekitar 800 gram. 

      section
        h4 Cont... 
        hr
        h3 Penemuan inilah yang telah mengubah dunia selamanya. Teknologi yang digunakan 1-G masih bersifat analog dan dikenal dengan istilah AMPS. AMPS menggunakan frekuensi antara 825 Mhz- 894 Mhz dan dioperasikan pada Band 800 Mhz. Kekurangan generasi 1-G adalah karena ukurannya yang terlalu besar untuk genggam oleh tangan.
      section
<<<<<<< HEAD
	h4 Generasi II
	h3 Generasi kedua atau 2-G muncul pada sekitar tahun 1990-an. 2G di Amerika sudah menggunakan teknologi CDMA, sedangkan di Eropa menggunakan teknologi GSM. GSM menggunakan frekuensi standar 900 Mhz dan frekuensi 1800 Mhz. Dengan frekuensi tersebut, GSM memiliki kapasitas pelanggan yang lebih besar. Pada generasi 2G sinyal analog sudah diganti dengan sinyal digital. Penggunaan sinyal digital memperlengkapi telepon genggam dengan pesan suara, panggilan tunggu, dan SMS.
	
      section
        h4 Generasi III
        hr
        h3 Generasi ini disebut juga 3G yang memungkinkan operator jaringan memberi pengguna jangkauan yang lebih luas, termasuk internet seperti video call berteknologi tinggi. 
        hr
        hr
        hr
      section    
        h42.bullet Ada 3 Standar 3G Dunia Telekomunikasi
        hr
        ul
          li Enhance Datarates for GSM Evolution (EDGE)
          li Wideband-CDMA
          li CDMA 2000
        hr
        h3.bullet Kelemahan
        ul
          li Biaya yang relatif lebih tinggi
          li Kurangnya cakupan jaringan karena masih baru
        hr  
        h3.bullet Kelebihan
        ul
          li Mulai dimasukkannya Sistem Operasi (Symbian, Android dan Windows Mobile)
          
>>>>>>> 10a0aedb8e881c7cd19b5a33324940de8a6f6d40
      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild